body{
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
}

h1{
    font-size: 50px;
    margin-left: 25px;
    margin-bottom: 35px;
}


label{
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    margin-left: 40px;
}


label.fName{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 8px;
    margin-left: 40px;
}

label.mInitial{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 8px;
    margin-left: 29.5px;
}

label.yLevel{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 8px;
    margin-left: 40px;    
}

label.uBirthday{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 8px;
    margin-left: 20px;    
}

input{
    margin-left: 40px;
}

select{
    margin-left: 40px;
}

#lastName, #studentNumber, #mobileNumber, #emailAddress{
    width: 366px;
    padding: 13px;
    margin-bottom: 1px;
    font-size: 15px;
    border: solid 0.8px black;
    border-radius: 12px;
}

#firstName{
    width: 286px;
    padding: 13px;
    margin-bottom: 1px;
    font-size: 15px;
    border: solid 0.8px black;
    border-radius: 12px;  
}

#middleInitial{
    width: 25px;
    padding: 13px;
    margin-bottom: 1px;
    font-size: 15px;
    border: solid 0.8px black;
    border-radius: 12px;
    margin-left: 25px;
}

#yearLevel{
    width: 133px;
    padding: 15.5px;
    margin-bottom: 1px;
    font-size: 15px;
    border: solid 0.8px black;
    border-radius: 12px;
}

#userBirthday{
    width: 211px;
    padding: 13px;
    margin-bottom: 1px;
    font-size: 15px;
    border: solid 0.8px black;
    border-radius: 12px; 
    margin-left: 25px;
}


input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

select{
    width: 20%;
    padding: 13px;
    border-radius: 10px;
    border: solid 2px black;
    margin-bottom: 30px;
}

button{
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    width: 395px;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    color: black;   
    border: solid 0.9px black;
    margin-top: 44px;   
}

button:hover {
   box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

div.containerOne{
    width: 25%;
    height: 90%;
    border-radius: 10px;
    padding: 16px;
    margin-left: 24.5%;
    margin-right: 4px;
    margin-top: 5.5%;
    display: flex;
    flex-direction: column;
    float: left;
    background: white;
}

div.containerTwo{
    width: 25%;
    height: 73.5%;
    border-radius: 10px;
    padding: 16px;
    display: inline-block;
    position: absolute;
    background: white;
    float: right;
    margin-top: 5.5%;
}

div.row{
    display: flex;
    flex-direction: row;
}


#userName, #userPassword{
    border: solid 0.8px black;
    border-radius: 12px;
    width: 366px;
    padding: 13px;
    margin-bottom: 1px;
    font-size: 15px;
    display: block;
}

#userRepeatPassword{
    border: solid 0.8px black;
    border-radius: 12px;
    width: 366px;
    padding: 13px;
    margin-bottom: 20px;
    font-size: 15px;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
}

#agreeCheck{
    width: 20px;
    height: 20px;
    margin-top: 34px;
    display: inline-block;
}

a{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-size: 0.94em;
    color: black;
    display: inline-block;
}

#checkBox{
    position: absolute;
    top: 32px;
    right: 60px;
    width: 15px;
    height: 15px;
}

#checkBoxTwo{
    position: absolute;
    top: 375px;
    right: 76px;
    width: 15px;
    height: 15px;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control select {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
    margin-bottom: 10px;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input{
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control select:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success select {
	border-color: #2ecc71;
}

.form-control.error select {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 35px;
	right: 45px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0px;
	left: 4px;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
    margin-left: 39px;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}


/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}
