body{
    font-family: 'Josefin Sans', sans-serif;
    height: 79vh;
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
}

h1{
    text-align: center;
    margin-top: 195px;
    color: black;
    text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff;
    font-size: 50px;
}

label{
    display: block;
    margin-bottom: 8px;
    margin-top: 15px;
    font-size: 20px;

}

input{
    width: 90%;
    padding: 13px;
    background-color: white opacity 0.3;
    margin-bottom: 10px;
    font-size: 20px;
    border-left: none;
    border-top: none;
    border-right: none;
   
}

input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

button{
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    width: 97.5%;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    color: black;
    border: solid 0.9px black;
}


button:hover {
   box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

a{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-left: 185px;
}

h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    display: inherit;
}

div.container{
    width: 600px;
    height: 400px;
    background-color:aliceblue;
    border-radius: 15px;
    padding: 18px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container i {
    position: absolute;
    top: 485px;
    right: 675px;
    cursor: pointer;
}



#viewPassword{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 760px;
    top: 525px;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 12px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 15px;
	width: 95%;
}

.form-control input:focus {
	outline: 0;
	border-color: skyblue;
}

.form-control.success input{
    outline: 0;
	border-color: #2ecc71;
}

.form-control.error input {
    outline: 0;
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 58px;
	right: 38px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 10px;
	left: 10px;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
    margin-left: 39px;
}